<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/painelUser.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/tabPainel.css">
    <link rel="stylesheet" type="text/css" href="/css/tabUsers.css">
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a class="logo" href="https://github.com/tauanyfeitosa/AdaTech.AIntelligence">AIntelligence</a>
            <ul class="nav-links">
                <li><a href="https://github.com/tauanyfeitosa/AdaTech.AIntelligence/blob/master/README.md">Documentação</a></li>
                <li><a href="#" id="logoutLink">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="user-panel">
        <div class="user-details"></div>
        <button id="requestButton" class="button-request">Solicitar Permissões</button>

        <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="promotionForm">
                    <label for="roles">Escolha os cargos:</label><br>
                    <select id="roles" name="roles">
                    </select><br>
                    <input type="submit" value="Enviar solicitação">
                </form>
            </div>

        </div>

    </div>

    <div class="tab-panel">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'My_expense')" id="defaultOpen">Minhas Despesas</button>
            <button class="tablinks" onclick="openTab(event, 'Finance')">Financeiro</button>
            <button class="tablinks" onclick="openTab(event, 'Admin')">Administrativo</button>
        </div>

        <div id="My_expense" class="tabcontent">
            <h3>Minhas despesas</h3>
            <p>Content for Minhas expenses...</p>
        </div>

        <div id="Finance" class="tabcontent">
            <h3>Financeiro</h3>
            <p>Content for Finance...</p>

            <table id="expensesTable" class="styled-table-expense">
                <thead>
                    <tr>
                        <th>Colaborador - Nome Completo</th>
                        <th>Colaborador - CPF</th>
                        <th>Despesa - Descrição</th>
                        <th>Despesa - Valor</th>
                        <th>Despesa - Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div id="Admin" class="tabcontent">
            <h3>Administrativo</h3>
            <p>Abaixo, ações para gerenciamento de usuários:</p>

            <table id="usersTable" class="styled-table">
                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>Cargo</th>
                        <th>CPF</th>
                        <th>Status Ativo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="./js/checkAuthentication.js"></script>
    <script src="./js/logoutJs.js"></script>
    <script src="./js/userInfoPanel.js"></script>
    <script src="./js/modalJs.js"></script>
    <script src="./js/fetchRoles.js"></script>
    <script src="./js/tabLinkJs.js"></script>
    <script src="./js/loadUsersJs.js"></script>

</body>
</html>
