/* Style the tab */
.tab-panel {
    background-color: rgba(100, 192, 215, 0.6);
    width: 80%;
    height: 20%;
    margin: auto;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
}

.tab {
    overflow: hidden;
    border: 1px solid #0A8CCC;
    background-color: #0A8CCC;
    border-radius: 10px;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: rgba(100, 192, 215, 0.8);
            ;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #64C0D7
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px;
    border: 1px solid #0A8CCC;
    border-top: none;
    min-height: 450px;
    border-radius: 10px;
}

.tabcontent.active {
    display: block; /* Show active tab content */
}

/* Style the tab content with different background colors */
#Minhas_expenses {
    background-color: rgba(100, 192, 215, 0.8);
}

#Finance {
    background-color: rgba(100, 192, 215, 0.8);
}

#Admin {
    background-color: rgba(100, 192, 215, 0.8);
}
