.styled-table, .styled-table-expense {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

    .styled-table thead th, .styled-table-expense thead th,
    .styled-table tbody td, .styled-table-expense tbody td {
        border: 1px solid #0A8CCC;
        padding: 8px;
    }

    .styled-table thead th, .styled-table-expense thead th {
        background-color: #0A8CCC;
        color: white;
    }

    .styled-table tbody tr:nth-child(odd), .styled-table-expense tbody tr:nth-child(odd) {
        background-color: #64C0D7;
    }

    .styled-table tbody tr:nth-child(even), .styled-table-expense tbody tr:nth-child(even) {
        background-color: #1BCDD4;
    }
