body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #0A8CCC;
    font-weight: bold;
}

.login-container {
    background-color: rgba(100, 192, 215, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-container {
    background-color: rgba(100, 192, 215, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0A8CCC;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5cacf2;
}

p, p a {
    color: #0A8CCC;
    font-weight: bold;
}

p a:link, p a:visited, p a:hover, p a:active {
    color: #0A8CCC;
    font-weight: bold;
}

